@import "./fonts.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background: #141414;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  padding: 10px 0;
  position: relative;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav input[type="checkbox"] {
  display: none;
}

.nav__btn {
  display: none;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.nav__btn span {
  width: 100%;
  height: 2px;
  background: #f0f0f0;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 80px;
  transition: 0.5;
  transform-origin: top;
}

.nav__list-link {
  font-weight: 500;
  font-size: 16px;
  color: #f0f0f0;
  transition: 0.5s;
}

.nav__list-link:hover {
  color: #b31d1e;
}

.header__content {
  min-height: 747px;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
}

.header__content h1 {
  font-weight: 600;
  font-size: 140px;
  color: #b31d1e;
  transition: 0.5;
}

.header__btn {
  padding: 18px 94px;
  border-radius: 4px;
  background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
  font-weight: 800;
  font-size: 24px;
  color: #141414;
  transition: 0.5;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 540px;
}

.content__left_title {
  font-weight: 700;
  font-size: 40px;
  color: #eb3a13;
  margin-bottom: 30px;
}
.content__left_text {
  font-weight: 500;
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 40px;
}
.content__right {
  width: 540px;
  height: 275px;
}
.content__right img {
  max-width: 100%;
}
.info__content-item {
  font-weight: 500;
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 40px;
}
.content__left {
  padding-top: 114px;
  padding-bottom: 164px;
}
.gallery {
  padding-bottom: 180px;
}
.gallery__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.gallery__content img {
  max-width: 100%;
}
.gallery__content h2 {
  font-weight: 700;
  font-size: 40px;
  color: #eb3a13;
}
.gallery__content-top {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gallery__content-top div img {
  max-width: 100%;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.about__content h2 {
  font-weight: 700;
  font-size: 40px;
  color: #eb3a13;
}
.about__content p {
  font-weight: 500;
  font-size: 20px;
  color: #f0f0f0;
}
.about__content img {
  margin-top: 122px;
}
.about {
  padding-bottom: 120px;
}
.footer {
  padding: 30px 0;
  background: #1f1f1f;
}
.footer__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 350px;
}
.footer__form input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  color: #ffffff;
}
.footer__form input:focus {
  border-bottom: 2.5px solid #eb3a13;
  background: none;
}
input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #f0f0f0;
}
.footer__form button {
  border-radius: 4px;
  width: 350px;
  height: 36px;
  background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
  margin-top: 30px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #f0f0f0;
}
.footer_contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 400px;
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}
.footer__contact-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 90%;
  color: #f0f0f0;
}
.footer__contact-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #f0f0f0;
}
